.InputBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 5px;
  border-radius: 5px;
}

.InputBox textarea {
  height: auto;
  resize: none;
  flex: 1;
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.InputBox button {
  height: auto;
  resize: none;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.InputBox button:hover {
  background-color: #45a049;
}
